.inputUser {  
  margin-left: 1em;
  margin-right: 1em;
  background-color: #FEFEFE;     
}

.inputUser img {
 width: 10em;
 height: 10em;
 margin-top: -20em;  
 margin-left: 25em;
 border-radius: 50%;
 
}

.searchUser h1 {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 12em;
}

.inputUser form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;  
}

.inputUser textField {  
  font-size: 16px;  
  
}

Button {
  height: 55px;
}





